:root {
	/* Colours */
	--main-water: aqua;
	--main-boat: blue;
	--main-touched: #ff4500cc;
	--main-sunken: red;
}

.container {
	text-align: center;
}
#player_grid {
	float: left;
	margin-right: 30px;
}
.grid_btn {
	height: 36px;
	width: 36px;
	cursor: pointer;
	color: transparent;
	transition: 0.5s;
	text-align: center;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	margin: 2px;
}

.grid_btn[data-type="info"] {
	cursor: auto;
	color: initial;
	background-color: lightgrey;
}
.grid_btn[data-type="player"] {
	pointer-events: none;
	transition: 3s;
}
#invisible {
	visibility: hidden;
}
#restart_btn {
	cursor: pointer;
}
/* Message Box Text */
#message_box {
	border: 1px solid #e5e5e5;
	padding-top: 6px;
	padding-bottom: 6px;
	border-radius: 3px;
	font-size: 14px;
	height: 214px;
	overflow-y: auto;
}
.box_text {
	font-weight: bold;
}
#text_2 {
	color: #00afff;
}
#text_3 {
	color: var(--main-touched);
}
#text_4 {
	color: var(--main-sunken);
}
#important_msg {
	background-color: orange;
}

/* Boat cells */
#cell_water, #cell_touched, #cell_sunken {
	pointer-events: none;
}
#cell_player_boat {
	background-color: var(--main-boat);
}
#cell_water {
	background-color: var(--main-water);
}
#cell_touched {
	background-color: var(--main-touched);
}
#cell_sunken {
	background-color: var(--main-sunken);
}